export PATH=$PATH:~/chainlink/tools/bin:~/install/gradle/bin:/home/user/projects/library/nginx/openresty/bin
#export EDITOR=vi # setting default editor for mc
export CC=/usr/bin/gcc-5
export CXX=/usr/bin/g++-5
export EDITOR=nano
export BOOST_ROOT=~/projects/library/ITVPN_DEV/build
export ACE_ROOT=~/projects/library/ITVPN_DEV/ACE_wrappers
export LD_LIBRARY_PATH=/home/user/install/GCC/gcc-5.4.0/build/lib64:$ACE_ROOT/lib:$LD_LIBRARY_PATH
#export LD_LIBRARY_PATH=$ACE_ROOT/lib:$LD_LIBRARY_PATH
export CPP_INCLUDE_PATH=/usr/include/c++/5/:$CPP_INCLUDE_PATH

