[Unit]
Description=itvpnagent
After=syslog.target network.target

[Service]
Environment="LD_LIBRARY_PATH=/home/deon/itvpn/bin/itvpnagent/:$LD_LIBRARY_PATH"
PrivateTmp=true
PIDFile=/home/deon/itvpn/bin/itvpnagent/%i.pid
ExecStart=/home/deon/itvpn/bin/itvpnagent/itvpnagent -config=/home/deon/itvpn/bin/itvpnagent/lic_check_l.ini 
#--writepid /home/deon/itvpn/bin/itvpnagent/%i.pid --cd /home/deon/itvpn/bin/itvpnagent/

[Install]
WantedBy=multi-user.target
